* {
    margin: 0;
    padding: 0;
}

/* 滚动条整体样式 */
::-webkit-scrollbar {
    /* 滚动条宽度 */
    width: 3px;
    /* 滚动条高度 */
    height: 3px;
    /* 默认设置滚动条不可见 */
    opacity: 0;
}

/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
    /* 滚动条轨道背景色 */
    background-color: #f5f5f5;
}

/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
    /* 滚动条滑块颜色 */
    background-color: #BCBCD2;
    /* 滚动条滑块四个圆角半径 */
    border-radius: 4px;
}

/* 滚动条边框样式 */
::-webkit-scrollbar-corner {
    /* 滚动条边角背景色 */
    background-color: #f5f5f5;
}

/* 检测滚动容器是否滚动，滚动时设置滚动条可见 */
*:hover::-webkit-scrollbar-thumb {
    background-color: #BCBCD2;
}

/* 设置滚动条不可见 */
*:not(:hover)::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.schedule_comment {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #f4f5f7;
    background-color: #f4f5f7;
    position: relative;
}

.schedule_top {
    height: 50px;
    line-height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    border-width: 0;
    background-color: #e4e5e7;
    -webkit-app-region: drag;
}

.schedule_top .title {
    font-size: 20px;
    font-weight: 550;
}

.close_btn {
    position: absolute;
    right: 15px;
    top: 10px;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.close_btn img {
    width: 30px;
}

#coursesTable {
    padding: 15px 10px;
}

.Courses-head {
    background-color: #edffff;
}

.Courses-head>div {
    text-align: center;
    font-size: 14px;
    line-height: 28px;
}

.left-hand-TextDom,
.Courses-head {
    background-color: #f2f6f7;
}

.Courses-leftHand {
    background-color: #f2f6f7;
    font-size: 12px;
}

.Courses-leftHand .left-hand-index {
    color: #9c9c9c;
    margin-bottom: 4px !important;
}

.Courses-leftHand .left-hand-name {
    color: #666;
}

.Courses-leftHand p {
    text-align: center;
    font-weight: 900;
}

.Courses-head>div {
    border-left: none !important;
}

.Courses-leftHand>div {
    padding-top: 5px;
    border-bottom: 1px dashed rgb(219, 219, 219);
}

.Courses-leftHand>div:last-child {
    border-bottom: none !important;
}

.left-hand-TextDom,
.Courses-head {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.Courses-content>ul {
    border-bottom: 1px dashed rgb(219, 219, 219);
    box-sizing: border-box;
}

.Courses-content>ul:last-child {
    border-bottom: none !important;
}

.highlight-week {
    color: #02a9f5 !important;
}

.Courses-content li {
    text-align: center;
    color: #666666;
    font-size: 14px;
    line-height: 50px;
}

.Courses-content li span {
    padding: 6px 2px;
    box-sizing: border-box;
    line-height: 18px;
    border-radius: 4px;
    white-space: normal;
    word-break: break-all;
    cursor: pointer;
}

.grid-active {
    z-index: 9999;
}

.grid-active span {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}