* {
    margin: 0;
    padding: 0;
}

/* 滚动条整体样式 */
::-webkit-scrollbar {
    /* 滚动条宽度 */
    width: 3px;
    /* 滚动条高度 */
    height: 3px;
    /* 默认设置滚动条不可见 */
    opacity: 0;
}

/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
    /* 滚动条轨道背景色 */
    background-color: #f5f5f5;
}

/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
    /* 滚动条滑块颜色 */
    background-color: #BCBCD2;
    /* 滚动条滑块四个圆角半径 */
    border-radius: 4px;
}

#coursesTable {
    z-index: 1;
}

.Courses-head {
    background-color: #edffff;
}

.Courses-head>div {
    text-align: center;
    font-size: 14px;
    line-height: 28px;
}

.left-hand-TextDom,
.Courses-head {
    background-color: #f2f6f7;
}

.Courses-leftHand {
    background-color: #f2f6f7;
    font-size: 12px;
}

.Courses-leftHand .left-hand-index {
    color: #9c9c9c;
    margin-bottom: 4px !important;
}

.Courses-leftHand .left-hand-name {
    color: #666;
}

.Courses-leftHand p {
    text-align: center;
    font-weight: 900;
}

.Courses-head>div {
    border-left: none !important;
}

.Courses-leftHand>div {
    padding-top: 5px;
    border-bottom: 1px dashed rgb(219, 219, 219);
}

.Courses-leftHand>div:last-child {
    border-bottom: none !important;
}

.left-hand-TextDom,
.Courses-head {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.Courses-content>ul {
    border-bottom: 1px dashed rgb(219, 219, 219);
    box-sizing: border-box;
}

.Courses-content>ul:last-child {
    border-bottom: none !important;
}

.highlight-week {
    color: #02a9f5 !important;
}

.Courses-content li {
    text-align: center;
    color: #666666;
    font-size: 14px;
    line-height: 50px;
}

.Courses-content li span {
    padding: 6px 2px;
    box-sizing: border-box;
    line-height: 18px;
    border-radius: 4px;
    white-space: normal;
    word-break: break-all;
    cursor: pointer;
}

.grid-active {
    z-index: 9999;
}

.grid-active span {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.course-hasContent {
    display: flex;
    align-items: center;
    justify-content: center;
}