@font-face {
  font-family: "iconfont"; /* Project id 4144586 */
  src: url('iconfont.woff2?t=1689859993748') format('woff2'),
       url('iconfont.woff?t=1689859993748') format('woff'),
       url('iconfont.ttf?t=1689859993748') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-maximize:before {
  content: "\e65d";
}

.icon-minimize:before {
  content: "\e60f";
}

.icon-edit:before {
  content: "\e603";
}

.icon-info:before {
  content: "\f02a";
}

.icon-xiangxia:before {
  content: "\e601";
}

.icon-xiangshang:before {
  content: "\e602";
}

.icon-view-fill:before {
  content: "\e847";
}

.icon-fanhui:before {
  content: "\e8a4";
}

.icon-upload:before {
  content: "\e846";
}

.icon-huiyuan:before {
  content: "\e652";
}

.icon-right:before {
  content: "\e687";
}

.icon-tuichu:before {
  content: "\e6b2";
}

.icon-close:before {
  content: "\eaf2";
}

.icon-guanbi:before {
  content: "\e60e";
}

.icon-zhankai:before {
  content: "\e64a";
}

.icon-yunxiazai:before {
  content: "\e600";
}

.icon-zhuomian:before {
  content: "\e6c2";
}

