* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* overflow-x: hidden; */
}

#app {
  position: fixed;
  height: 100%;
  width: 100%;
  user-select: none;
  z-index: 10000;
  transition: all 0.3s ease-in-out;
}

.canvas {
  position: relative;
}

.message {
  opacity: 0;
  width: 250px;
  height: 50px;
  line-height: 50px;
  margin: auto;
  padding: 7px;
  position: absolute;
  top: 10px;
  left: 20px;
  text-align: center;
  border: 1px solid rgba(255, 137, 255, 0.4);
  border-radius: 8px;
  background-color: rgba(255, 137, 255, 0.2);
  box-shadow: 0 3px 15px 2px rgba(255, 137, 255, 0.4);
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  text-transform: uppercase;
  animation-delay: 5s;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-name: shake;
  animation-timing-function: ease-in-out;
}

.dialog_box {
  position: absolute;
  bottom: 300px;
  right: 60px;
  display: none;
  padding: 5px;
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid rgba(19, 132, 177, 0.4);
  border-radius: 4px;
  background-color: rgba(3, 138, 248, 0.4);
  box-shadow: 0 3px 15px 2px rgba(3, 138, 248, 0.4);
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

.dialog_box:hover {
  border: 1px solid #f4a7b9;
}

@keyframes shake {
  2% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg);
  }

  4% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg);
  }

  6% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }

  8% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }

  10% {
    transform: translate(0.5px, 2.5px) rotate(0.5deg);
  }

  12% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }

  14% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg);
  }

  16% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }

  18% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }

  20% {
    transform: translate(2.5px, 2.5px) rotate(1.5deg);
  }
}
