* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

#app {
  height: 100%;
  width: 100%;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

.control_btn {
  position: absolute;
  right: 0;
  bottom: 20%;
  font-size: 14px;
  z-index: 9999;
  transition: all 0.3s ease;
}

.control_item {
  width: 50px;
  height: 35px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  background-color: #1c699d;
  color: #fff;
  cursor: pointer;
}

.control_item:not(:last-child) {
  margin-bottom: 10px;
}

.control_item:hover {
  background-color: #2bb7f5;
}
