* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.oml-controls {
  display: none;
}

#app {
  height: 100%;
  width: 100%;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

.control_btn {
  position: relative;
  bottom: 80px;
  font-size: 14px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #60a8c7;
  text-align: center;
  cursor: pointer;
}

.control_btn:hover {
  background-color: #2bb7f5;
}
