* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

.container {
  margin: 0px;
  padding: 0;
  position: absolute;
  color: aliceblue;
  background-color: #202020;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 50;
  box-shadow: 0px 0px 10px -1px rgba(170, 170, 170, 0.75);
  -webkit-box-shadow: 0px 0px 10px -1px rgba(170, 170, 170, 0.75);
  -moz-box-shadow: 0px 0px 10px -1px rgba(170, 170, 170, 0.75);
  -webkit-app-region: no-drag;
}

.topbar {
  align-items: center;
  position: absolute;
  font-size: 15px;
  font-weight: lighter;
  color: azure;
  height: 30px;
  z-index: 90;
  text-align: center;
  width: 100%;
  background-color: #202020;
  font-family: bgmUI;
  -webkit-app-region: drag;
  user-select: none;
}

.topbar img {
  width: 25px;
  height: 25px;
  position: absolute;
  line-height: 26px;
  left: 5px;
  margin: 4px 0 0 5px;
}

.topbar .title {
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 40px;
  font-size: 14px;
}

.selection {
  position: absolute;
  background-color: #272727;
  top: 40px;
  left: 16px;
  right: 16px;
  z-index: 0;
  user-select: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.highlight {
  position: absolute;
  width: 70px;
  height: 5%;
  top: 85%;
  left: 15px;
  background-color: #4299b1;
  box-shadow: 0 0 1px 1px #4299b1;
  border-radius: 7px;
  transition: all 0.5s ease;
}

.selection_bar {
  width: 80px;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.selection_bar:hover {
  background-color: #393939 !important;
}

.selection_bar {
  font-weight: 700;
}

.setting_page {
  position: absolute;
  background-color: #272727;
  border-radius: 3px;
  top: 95px;
  left: 16px;
  right: 16px;
  bottom: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.setting_box {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 0;
}

.setting_box::-webkit-scrollbar {
  width: 4px;
}

.setting_box::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px rgba(141, 140, 140, 0.2);
  background-color: #249ffd;
  border-radius: 10px;
}

.setting_box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: rgba(160, 160, 160, 0.2);
}

.setting_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.setting {
  width: auto;
  border-radius: 7px;
  user-select: none;
}

.setting .form_selection {
  padding: 0 15px 0 15px;
  margin: 15px 0 10px;
}

.form_selection .title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.select {
  width: 100%;
  height: 40px;
  background-color: #a3b5bb;
  outline: none;
  border: 1px solid #d9dce3;
  border-radius: 4px;
  color: #606266;
  padding: 0 30px 0 15px;
  font-size: 14px;
}

.container_box {
  width: auto;
  height: 45px;
  padding: 10px;
  box-shadow: 0 0 0 1px #202020;
  margin: 8px 13px 8px 13px;
  background-color: #313131;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.setting_bottom {
  width: 575px;
  height: 120px;
  padding: 10px;
  position: relative;
}

.feedback {
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 10px;
  margin-top: 8px;
  margin-left: 3px;
  box-sizing: border-box;
  outline: none;
  border-width: 0;
  resize: none;
  border-radius: 7px;
}

.word_count {
  font-size: 14px;
  padding-top: 5px;
  padding-left: 5px;
}

.clear_text {
  width: 100px;
  height: 50px;
  color: white;
  background-color: #4F7cff;
  line-height: 50px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  right: 130px;
}

.clear_text:active {
  transform: scale(0.98);
}

.feedback_commit {
  width: 100px;
  height: 50px;
  color: white;
  background-color: #4F7cff;
  line-height: 50px;
  text-align: center;
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.feedback_commit:active {
  transform: scale(0.98);
}