* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-head {
    width: 100%;
    height: 190px;
    padding-top: 75px;
    background-image: url(../../image/background.png);
    background-size: cover;
    position: relative;
}

.gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 84px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABQAAAABdCAMAAADNEjtLAAABEVBMVEUDAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAAADAACnjvHuAAAAW3RSTlMBAgMEBQYHCAkKCwwNDxAREhQVFhgZGxweHyEiJCUnKSosLS8xMjQ2ODk7PT5AQkNFR0hKTE5PUVNUVldZW1xeX2FiZGVnaGprbG5vcHFzdHV2d3h5ent8fX5/XoZ4lgAAAPVJREFUeAHt1AERADAQAiDdrX/mDyKEIAAAjGkDsOk3AAIEECCAAAEECCBAAAECCBBAgAACBBAggAABBAggQAABAggQQIAAAgQQIIAAAQQIIEAAAQIIEECAAAIEECCAAAEECAgQQIAAAgQQIIAAAQQIIEAAAQIIEECAAAIEECCAAAEECCBAAAECCBBAgAACBBAggAABBAggQAABAggQQIAAAgQQIIAAAQECCBBAgAACBBAggAABBAggQAABAggQQIAAAgQQIIAAAQQIIEAAAQIIEECAAAIEECCAAAEECCBAAAECCBBAgAACBAQIIEAAAQIseAEYdZ9sAcJDX4ICAAAAAElFTkSuQmCC);
    background-repeat: repeat-x;
}

.head-content {
    margin: 0 20px;
    display: flex;
    z-index: 1;
    position: relative;
}

.bili-avatar {
    position: relative;
    padding-top: 20px;
}

.bili-avatar .avatar {
    width: 80px;
    max-width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.info {
    margin: 20px;
    color: #fff;
}

.info .section {
    display: flex;
    align-items: flex-end;
}

.section .badge {
    padding-left: 6px;
}

.section .name {
    font-weight: bold;
    font-size: 18px;
    min-width: 85px;
    margin-top: 10px;
}

.info .description {
    font-size: 12px;
    margin-top: 13px;
    color: #CCC;
}

.app-body {
    display: flex;
    height: 474px;
    background-color: #f4f5f7;
}

.app-body .app-io {
    position: relative;
    margin: 0 auto;
    width: 90%;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 10px;
    box-shadow: 8px 10px 32px rgba(34, 44, 49, 0.06);
}

.app-io .app-title {
    position: absolute;
    top: -12px;
    border-radius: 8px;
    background-color: #249ffd;
    padding: 6px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.input-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.input-row .input-container {
    position: relative;
    width: 48%;
}

.input-container .input-area {
    padding: 20px;
    border: 2px solid rgb(221, 221, 224);
    border-radius: 12px;
    outline: none;
    resize: none;
    width: 100%;
    height: 400px;
    font-size: 14px;
}

#text-button {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

#text-button.loading::after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #3e91f7;
    animation: spin 0.8s linear infinite;
    position: absolute;
    margin-left: -10px;
    margin-top: -10px;
}

#text-button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.button-container button:hover {
    background-color: #0056B3;
}

.button-container button:active {
    transform: scale(0.98);
}

.option {
    display: flex;
    width: 100%;
    height: 38px;
    line-height: 38px;
    border: 1px solid rgb(221, 221, 224);
    justify-content: space-between;
    border-radius: 8px;
    margin-bottom: 10px;
}

.option .tag {
    display: flex;
    justify-content: center;
    width: 22%;
    background-color: rgb(221, 221, 224);
    border-radius: 4px 0 0 4px;
    font-size: 14px;
}

.slide {
    width: 50%;
}

.param {
    display: flex;
    justify-content: center;
    width: 22%;
    background-color: rgb(221, 221, 224);
    border-radius: 0 4px 4px 0;
    font-size: 14px;
}

.select-box {
    display: inline-block;
    position: relative;
    width: 78%;
}

.select-box>.select-input {
    display: block;
}

.select-input {
    position: relative;
    font-size: 14px;
}

.input-inner {
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding-left: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
    background-color: #fff;
    pointer-events: none;
}

.input-suffix {
    position: absolute;
    height: 100%;
    top: 0;
    right: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}

.select-input.open .select-dropdown {
    display: block;
}

.select-input .input-suffix.open {
    transition: transform 0.3s;
    transform: rotate(180deg);
}


.select-dropdown {
    display: none;
    width: 100%;
    position: absolute;
    margin-top: 43px;
    border: 1px solid #e4e7ed;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: all 0.3s;
    z-index: 9999;
}

.select-dropdown::after {
    content: '';
    position: absolute;
    top: -2px;
    left: 120px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    box-sizing: border-box;
}

.scrollbar {
    max-height: 200px;
    overflow-y: auto;
}

/* 滚动条整体样式 */
.scrollbar::-webkit-scrollbar {
    /* 滚动条宽度 */
    width: 5px;
    /* 滚动条高度 */
    height: 5px;
}

/* 滚动条轨道样式 */
.scrollbar::-webkit-scrollbar-track {
    /* 滚动条轨道背景色 */
    background-color: #f5f5f5;
}

/* 滚动条滑块样式 */
.scrollbar::-webkit-scrollbar-thumb {
    /* 滚动条滑块颜色 */
    background-color: #BCBCD2;
    /* 滚动条滑块四个圆角半径 */
    border-radius: 4px;
}

.select-dropdown-wrap {
    height: 100%;
}

.select-dropdown-list {
    list-style: none;
    padding: 6px 0;
}

.select-dropdown-item {
    font-size: 14px;
    padding: 0 40px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606266;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer;
}

.select-dropdown-item:hover {
    background-color: #f5f7fa;
}

.select-dropdown-item.selected {
    color: #249ffd;
    font-weight: bold;
}

.bar-container {
    position: relative;
}

.bar-container .progress-bar {
    position: relative;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    background-color: #f0f0f0;
    margin: 20px 0 20px 0;
    transition: background-color 0.3s;
}

.progress-bar .progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    text-align: right;
    white-space: nowrap;
    background-color: #47da6b;
    transition: width 0.5s ease-in-out;
}

.progress .progress-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: rgb(96, 98, 102);
    margin: 0 5px;
}

.tip-box {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    text-align: center;
}

.tip-box .tip-message {
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 14px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.intro {
    display: none;
    width: 100%;
    margin: 12px 0;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #d0d7de;
}

.intro .intro-item {
    font-size: 14px;
    padding: 8px;
    color: #505050;
    border-bottom: 1px solid #d0d7de;
}

.output-audio {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.app-bottom {
    position: relative;
    height: 75px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.app-bottom .bottom-left {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.bottom-left .copyright {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.75;
    color: #505050;
}

.app-bottom .bottom-right {
    position: absolute;
    top: 21px;
    right: 50px;
}